@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400&family=Zeyada&display=swap');

:root {
  --violet: rgb(164, 69, 237);
  --gray: rgb(117, 117, 117);
  --input-bg: #F4F4F4;

  --Inter: 'Inter', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --Zeyada: 'Zeyada', cursive;


}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


.app {
  min-width: 320px;
  display: flex;
  justify-content: center;
  color: #242424;

}

.dark{
  background-color: black; 
  color: #F4F4F4;

  /* border: 1px solid orange; */
}

.dark .default__error, .default__result, .dictionary__result__header, .meaning__container, .selectFonts__container{
  color: #242424;
}

.dark .meaning__container{
  color: #F4F4F4;
}

.dark .dictionary__result__header h1{
  color: #F4F4F4;
}



.Inter{
  font-family: var(--Inter);
}

.Roboto{
  font-family: var(--Roboto);
}

.Zeyada{
  font-family: var(--Zeyada);
}





.main__container{
  display: block;
  width: 550px;
  /* height: 100vh; */
  height: 100%;
  padding: 0.5em;

  /* border: 1px solid yellowgreen; */


}

header{
  width: 100%;
  height: 5rem;
}

header .header__container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid orange; */
}

.header__container img{
  width: 3rem;
  height: 100%;
}

header .header__container button{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  /* border: 1px solid orange; */
}

header .header__container button img{
  width: 1.5rem;

  /* border: 1px solid orange; */
}

header .selectFonts__button{
  width: 6rem;
  cursor: pointer;
}


header .selectFonts__button img{
  /* position: absolute; */
  width: 0.6rem;
  margin-left: 0.5rem;
}

header .leftside__navigation{
  font-size: 0.8rem;
  width: 10rem;
  padding: 0.5rem;
  /* height: 100%; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-align: right;



  /* border: 1px solid orange; */
}

header .selectFonts__container{

  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50px;
  right: 80px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  border: 0.1px solid var(--gray);
  box-shadow: hsla(210,8%,62%,.2) 0px 8px 24px;

  /* border: 1px solid green; */
}

header .selectFonts__container span{

  text-align: center;
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--gray);
  cursor: pointer;

  /* border: 1px solid green; */
}

header .selectFonts__container span:last-child{

  text-align: center;
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom: none;

  /* border: 1px solid green; */
}




.search__input__container{

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  margin: 2rem 0;

  /* border: 1px solid orange; */
}

.search__input__container input{
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);

}

.search__input__container input:focus{
  border: 2px solid var(--violet);

}



.search__input__container button{
  position: absolute;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search__input__container button img{
  width: 1rem;
}

.dictionary__result__container{

  display: inline-block;
  height: fit-content;

  /* border: 1px solid green; */
}



.dictionary__result__header{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;


  /* border: 1px solid orange; */
}


.dictionary__result__header h1{
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;

}


.dictionary__result__header p{
  font-size: 0.8rem;
  /* font-style: italic; */
  color: var(--violet);
}

.dictionary__result__header audio{
  color: var(--violet);

  /* border: 1px solid orange; */
  
}

.dictionary__result__header button{
  border: none;
  background: transparent;
  cursor: pointer;
}

.dictionary__result__header button img{
  width: 5rem;
}

.default__result, .default__error{

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

  background-color: var(--input-bg);
  height: 8rem;
  border-radius: 5px;

  border: 1px solid var(--violet);

}

.meaning__container{
  display: inline-block;
  width: 100%;
  height: 100%;
  /* max-height: 500px; */

  /* border: 1px solid white; */
}

.meaning__container .individual__meaning{
  margin-bottom: 2rem;

  /* border: 1px solid pink; */

}

.meaning__container .individual__meaning h1{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.meaning__container .individual__meaning span{
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem !important;
  color: var(--gray);
}

.individual__meaning__container{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.individual__meaning__container li{
  line-height: 1.8rem;
  font-size: 0.8rem;

}

.individual__meaning__container li::before{
  content: '\2022';
  color: var(--violet) !important;
  font-weight: bold;
  display: inline;
  width: 1em;
  /* margin-left: ; */
  margin-right: 1em;

}



/* looading  */
.loading__screen_container{
  width: 100%;
  height: 8rem;
  display: grid;
  place-items: center;

}
.spinner {

  width: 11.2px;
  height: 11.2px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 #a445ed, 17.4px 21.8px 0 0 #a445ed, -6.2px 27.2px 0 0 #a445ed, -25.2px 12px 0 0 #a445ed, -25.2px -12px 0 0 #a445ed, -6.2px -27.2px 0 0 #a445ed, 17.4px -21.8px 0 0 #a445ed;
}

@keyframes spinner-z355kx {
  to {
     transform: rotate(360deg);
  }
}


