@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400&display=swap');

:root {
  --violet: rgb(164, 69, 237);
  --gray: rgb(117, 117, 117);
  --input-bg: #F4F4F4;

  --primary--font-family: 'Inter', sans-serif;
  --secondary--font-family: 'Roboto', sans-serif;
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--primary--font-family);
}


body {
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #242424;

  /* border: 1px solid orange; */
}



.app{
  display: block;
  width: 550px;
  height: 100%;
  padding: 0.5em;

  /* border: 1px solid black; */

}

header{
  width: 100%;
  height: 5rem;
}

header .header__container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid orange; */
}

header .selectFonts__button{
  cursor: pointer;
}


header .selectFonts__button img{
  width: 0.6rem;
  margin-left: 0.5rem;
}

header .leftside__navigation{
  font-size: 0.8rem;
  width: 10rem;
  /* height: 100%; */
  display: flex;
  position: relative;
  justify-content: space-between;


  /* border: 1px solid orange; */
}

header .selectFonts__container{

  width: 10rem;

  position: absolute;
  top: 50px;
  right: 170px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  /* border: 1px solid green; */
}



.search__input__container{
  /* padding: 1rem; */

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  margin: 2rem 0;

  /* border: 1px solid orange; */
}

.search__input__container input{
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);

}

.search__input__container input:focus{
  border: 2px solid var(--violet);

}



.search__input__container button{
  position: absolute;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search__input__container button img{
  width: 1rem;
}



.dictionary__result__header{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;


  /* border: 1px solid orange; */
}


.dictionary__result__header h1{
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;

}


.dictionary__result__header p{
  font-size: 0.8rem;
  /* font-style: italic; */
  color: var(--violet);
}

.dictionary__result__header audio{
  color: var(--violet);

  /* border: 1px solid orange; */
  
}

.dictionary__result__header button{
  border: none;
  background: transparent;
  cursor: pointer;
}

.dictionary__result__header button img{
  width: 5rem;
}

.meaning__container{
  width: 100%;
}

.meaning__container .individual__meaning{
  margin-bottom: 2rem;

  /* border: 1px solid pink; */

}

.meaning__container .individual__meaning h1{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.meaning__container .individual__meaning span{
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem !important;
  color: var(--gray);
}

.individual__meaning__container{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.individual__meaning__container li{
  line-height: 1.8rem;
  font-size: 0.8rem;

}

.individual__meaning__container li::before{
  content: '\2022';
  color: var(--violet) !important;
  font-weight: bold;
  display: inline;
  width: 1em;
  /* margin-left: ; */
  margin-right: 1em;

}






